@font-face{
	font-family: jellies;
	src: url("../fonts/jellies/Jellies.ttf");
}
body {
	font-family: Arial, Impact, Courier;
	line-height: 200%;
}
header{
	text-align: center;
}

h1 {
	color: rgb(0 0 0 / 100%);
	font-family: jellies !important;
	font-size: 400%;
}
table {
	width: 100%;
}
td {
	font-weight: bold;
	text-align: center;
}

td:hover {
	text-decoration: none;
	background: rgb(248 248 169/ 100%);
}

a {
	display: block;
	font-weight: bolder;
	text-decoration: none;
	
}

tr:nth-child(even) {background-color: #f2f2f2;}


